{{ define "main" }}
	<!-- Default template for blog posts -->

	<div class="post">
		<article>
			<div class="post-head">
				<h2 class="post-title">{{ .Title }}</h2>
				{{ partial "post-info.html" . }}
			</div>

			<div class="post-content">
				{{ .Content }}
			</div>
		</article>

		<hr>

		<ul class="post-actions">
			{{ $githubUrl := .Site.Params.github }}
			{{ if $githubUrl }}
				{{ $editUrl := print $githubUrl "/edit/master/content/" .File.Path }}
				<li>
					<a href="{{ $editUrl }}">Edit</a>
				</li>
			{{ end }}
			<li>
				<a href="..">All posts</a>
			</li>
			{{ $rssUrl := .Site.Params.rssUrl }}
			{{ if $rssUrl }}
				<li>
					<a href="{{ $rssUrl }}">Subscribe</a>
				</li>
			{{ end }}
		</ul>
	</div>

{{ end }}
