{{ define "main" }}
	<!-- Default template for list pages (e.g. list of posts) -->

	<div class="post-section">
		<!-- Title and content of list page -->
		<h2 class="post-section-title">{{ .Title }}</h2>
		{{ .Content }}

		<!-- List of pages -->
		<ul class="post-list">
			{{ range .Pages }}
				<li class="post-preview">
					<h3>
						<a href="{{ .Permalink }}">{{ .Title }}</a>
					</h3>
					{{ partial "post-info.html" . }}
					<p>{{ .Summary }}</p>
				</li>
			{{ end }}
		</ul>
	</div>

{{ end }}
