<!--
	Site head with metadata and asset imports.
-->
<head>
	<!-- Meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{ .Description }}">

	<!-- Site title -->
	<title>{{ .Site.Title }}</title>

	<!-- Favicons -->
	{{ partial "head-favicons.html" . }}

	<!-- Styles -->
	{{ partial "head-styles.html" . }}

	<!-- Scripts -->
	{{ partial "head-scripts.html" . }}

	<!-- RSS -->
	{{ range .AlternativeOutputFormats -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
</head>
