<div class="post-info">
	<time datetime="{{ .Date.Format "2006-01-02" }}">
		{{ .Date.Format "January 2, 2006" }}
	</time>
	<ul class="post-categories">
		{{ $taxonomy := "categories" }}
		{{ with .Param $taxonomy }}
			{{ range $index, $category := . }}
				{{- if gt $index 0 }}, {{ end -}}
				{{ with $.Site.GetPage (printf "/categories/%s" ($category | urlize)) -}}
					<li>
						<a href="{{ .Permalink }}">{{ $category }}</a>
					</li>
				{{- end -}}
			{{ end }}
		{{ end }}
	</ul>
</div>
